= @post.errors.full_messages.join("<br />").html_safe
= form_for @post, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :text, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_area :text, :class => 'text-field form-control'
  .form-group
    = f.label :post_at, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :post_at, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        posts_path, :class => 'btn btn-default'                      |

-#http://eonasdan.github.io/bootstrap-datetimepicker/
:javascript
  $("#post_post_at").datetimepicker({
    sideBySide: true
  });