
= link_to "New Post", new_post_path, :class => "btn btn-success btn-large"
= link_to "All Posts", all_posts_path, :class => "btn btn-default btn-large"

- model_class = Post
%table.table.table-striped
  %thead
    %tr
      %th Post At
      %th Text
      %th
  %tbody
    - @posts.each do |post|
      %tr
        - if post.post_at.present?
          %td= post.post_at.localtime.strftime("%A %B %e, %Y at %l:%M%P (%Z)")
        - else
          %td
        %td= post.text
        %td
          = link_to "Edit", edit_post_path(post)
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
                post_path(post),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
        %td
          - if post.published?
            = link_to "Un-publish from Twitter", delete_from_twitter_post_path(post), :class => "btn btn-info btn-danger"
          - else
            = link_to "Publish to Twitter", publish_to_twitter_post_path(post), :class => "btn btn-info"

    .col-xs2.col-md-2